.ot{
    background-size: cover;
    height: 100vh;
    background-color:#DEE1E6 ;  

}
.ot2{
    position: absolute;
    margin-right: 370px;
    margin-left: 500px;
    padding-left: 40px;
    border-radius: 20px;
    height: 450px;
    padding-bottom: 00px;
    padding-top: 30px;
    margin-top: 50px;
    background-color: white;  
    text-align: center;
}
.but{
     margin-left:  0px;
    color:white;
    background-color: #C00100;
    border-radius: 5px;
    width: 120px;
    border: 0px;
    height: 50px; 
}


.emil{
    height: 50px;
    width: 300px;
}