.rest1{
    background-size: cover;
    height: 100vh;
    background-color:#DEE1E6;
    background-size: cover;
} 
.rest2{
    position: absolute;
    margin-right: 390px;
    margin-left: 500px;
    padding-left: 40px;
    border-radius: 20px;
    height: 450px;
    padding-bottom: 00px;
    padding-top: 30px;
    margin-top: 50px;
    background-color: white;
    text-align: center;
    padding-right: 30px;
    

}
.mail{
    height: 50px;
    width: 300px;
}
.pass{
    height: 50px;
    width: 300px;
}

.conf{
    height: 50px;
    width: 300px;
}
.rp{

    margin-left:  0px;
    color:white;
    background-color: #C00100;
    border-radius: 5px;
    width: 120px;
    border: 0px;
    height: 50px; 
}